.image-background {
  background-image: url('https://images.pexels.com/photos/30897449/pexels-photo-30897449/free-photo-of-stunning-aerial-view-of-tropical-beach-paradise.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-size: cover;
  background-position: center;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}


