<div class="footer">
  <div class="d-flex justify-content-center align-items-center mt-3">
    <div class="footer-links d-flex justify-content-start ">
      <p class="text mx-3">English(UK)</p>
      <p class="text mx-3">€ EUR</p>
      <a href="#"><i class="fab fa-facebook mx-3"></i></a>
      <a href="#"><i class="fab fa-instagram mx-3"></i></a>
    </div>
  </div>
  <div>
    <div class="d-flex justify-content-center">
      <p>© 2025 Airbpalace, Inc.</p>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <p class="text1 mx-3"> Privacy </p>
    <p class="text1 mx-3"> Terms and Conditions </p>
    <p class="text1 mx-3"> Site Map </p>
    <p class="text1 mx-3"> How the Site Works </p>
    <p class="text1 mx-3"> Company Information</p>
  </div>
</div>
