<%= render 'shared/navbar' %>
<div class="container">
  <%# <video class="video-background" autoplay loop muted>
    <source src="https://www.magazette.fr/profiter-votre-temps-de-voyage/">
    Votre navigateur ne supporte pas la balise vidéo.
  </video> %>
  <!-- Contenu au-dessus de la vidéo -->
  <div class="content">
    <h1>Bienvenue sur mon site</h1>
    <p>Profite de cette belle vidéo en fond !</p>
<img src="https://www.magazette.fr/wp-content/uploads/monde-du-voyage-660x400.jpg.webp" alt="">
  </div>

</div>
