<%= render 'shared/navbar' %>

<%# <div class="container"> %>
  <div class="content-wrapper">
    <div class="image-background">
      <div class="text-overlay">
        <h1>Bienvenue sur Airbpalace</h1>
        <h3>Louez votre palace de rêve pour vos vacances</h3>
      </div>
    </div>
  </div>
<%# </div> %>
