.button-primary {
  display: inline-block;
  padding: 12px 24px;
  margin-top: 8px;
  margin-bottom: 25px;
  color: white;
  background-color: #0096C7;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  align-self: flex-start;
  // margin-top: auto;
}

.button-primary:hover {
  background-color: #ffffff;
  color:#ADE8F4;
  transform: scale(1.05);
  border: #ADE8F4 solid;
}

.button-primary-booking:hover {
  background-color: #ffffff;
  color:#ADE8F4;
  transform: none;
  border: #ADE8F4 solid;
}

.button-search {
  display: inline-block;
  color: white;
  background-color: #0096C7;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.button-search:hover {
  background-color: #ffffff;
  color:#ADE8F4;
  border: #ADE8F4 solid;
}

.button-card {
  display: inline-block;
  color: #0096C7;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  border: solid;
  border-color: #0096C7;
  padding: 3px 8px;
}

.button-onglet a {
  color: #0096C7;
  text-align: center;
  text-decoration: none;
}
