.cross {
  position: absolute;
  color: black;
  right: 110px;
  top: 15px;
  font-size: 25px;
  opacity: 0.2;
  bottom: 7px;
}

.cross:hover{
  opacity: 0.8;
}

.btn-primari {
  display: inline-block;
  padding: 12px 24px;
  color: white;
  background-color: #0096C7;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  align-self: flex-start;
  border: #ADE8F4 solid;
}

.btn-primari:hover {
  background-color: #ffffff;
  color:#ADE8F4;
  transform: scale(1.05);
  border: #ADE8F4 solid;
}
