.footer-brand {
  width: 40px;
}

.footer {
  justify-content: space-between;
  border-top: 0.1rem solid;
  border-color: #ADE8F4;
  height: 150px;
  text-decoration: none;
  color: black;
  padding: 0.5rem 1rem;
  background-color: #fffdfb;
}

.footer-links a {
  width: 60px !important;
  color: #0096C7;
}

.text{
  font-size: 15px;
}

.text1 {
  font-size: 13px;
}
