.navbar {
  justify-content: space-between;
  background: #f9f7f3;
  border-bottom: 0.1rem solid;
  border-color: #ADE8F4;
  height: 130px;
  text-decoration: none;
  color: black;
  padding: 0.5rem 1rem;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-top {
  padding: 0.5rem 0; 
}

.middle-div {
  font-size: 0.9rem; /* Réduit la taille de police pour la partie "MY PALACES | MY BOOKINGS" */
}

.navbar-toggler {
  padding: 0.25rem 0.5rem; /* Réduit la taille du bouton de la navbar */
}

.navbar-brand i {
  font-size: 1.5rem; /* Réduit la taille de l'icône du logo */
}

.navbar-nav .nav-item {
  margin: 0 0.5rem; /* Réduit l'espace entre les éléments de la navbar */
}

.avatar {
  width: 30px; /* Réduit la taille de l'avatar */
  height: 30px;
}

.middle-div a{
  text-decoration: none;
  color: #0096C7;
}

.middle-div a:hover{
  color: #ADE8F4;
}

.recherche {
  border: 1px solid #ADE8F4;
  box-shadow: none;
  outline: none;
  appearance: none;
}
