.navbar {
  justify-content: space-between;
  background: #f9f7f3;
  border-bottom: 0.1rem solid;
  border-color: #ADE8F4;
  height: 100px;
  text-decoration: none;
  color: black;
  padding: 0.5rem 1rem;
  background-color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-top {
  padding: 0.5rem 0;
}

.middle-div a{
  text-decoration: none;
  color: #0096C7;
}

.middle-div a:hover{
  color: #ADE8F4;
}

.recherche {
  border: 1px solid #ADE8F4;
  box-shadow: none;
  outline: none;
  appearance: none;
}
