.navbar {
  justify-content: space-between;
  background: #caf0f8;
  border: #00b4d8;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.custom-btn {
  padding: 12px 20px;
  border-radius: 8px;
  color: #fff;
  border: #00b4d8;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}
